.links{

  border: 2px solid #ffb3c6;

  border-radius: 10px;

  width: 90%;

  height: 40px;

  padding: 5px;

  display: flex;
  
  justify-content: center;
  
  align-items: center;

  text-decoration: none;

  background-color: #ffb3c6;

  font-size: 28px;

  color: #fefe;

}



/* a:visited{

  color: aqua;

} */

/* a:active{

  color: #ffb3c6;

} */

a:hover{

  color: #000;
  transition-duration: 1.5s;

}

.container-app{

  min-height: 100vh;
  
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  gap: 10px;

  background: hsla(298, 68%, 90%, 1);

  background: linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#f6d5f7", endColorstr="#fbe9d7", GradientType=1 );

}