.links-dois {

    font-family: "Poppins", sans-serif;

    font-weight: 100;
    
    font-style: normal;

    border: 2px solid #ffb3c6;

    border-radius: 10px;

    width: 90vw;

    height: 40px;

    padding: 5px;

    display: flex;
    
    justify-content: center;
    
    align-items: center;

    text-decoration: none;

    background-color: #ffb3c6;

    font-size: 28px;

    color: #fefe;

}

.links-dois:hover{

    transition-duration: 1.5s;

    background-color: #000;

    color: #ffb3c6;

    border-color: #000;

}
